.App {
  text-align: center;
}

body {
  background-color: #94d5f1;
}

.tituloHome{
  font-size: 22px;
  text-decoration: none;
  color: #0a6d97;
  margin-bottom: 20px;
}

.imgHome{
  margin-top: 10px;
border-radius: 10px;}

.cardList{
  
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cardList hr{
  width: 460px;
  height: 1px;
}

.formBeer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.formBeer button{
  width: 100px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px 10px;
}